.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #4a6572;
}

.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.filter-content {
  background: #444;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}